* {
    margin: 0;
    padding: 0;
  }
  
  nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
  }
  
  .nav__botao,
  .nav__logo {
    width: 35px;
    height: 35px;
    background-color: blue;
  }